# Big Data Management and Processing, Sofia, 2025

## Coursework - *Data Pipeline Development for Effective Data Management and Processing*

### Music Industry Trends Analysis
### Created by Martin Marinov (7MI3400539) and Nikola Mihaylov (6MI3400619)

**1. Data Ingestion**

For our project, we decided to use the "Top Spotify Songs in 73 Countries (Daily Updated)" dataset from Kaggle (https://www.kaggle.com/datasets/asaniczka/top-spotify-songs-in-73-countries-daily-updated). As of 9th January, the dataset contains 1,584,257 rows and 25 columns, offering a vast repository of information on daily music streaming trends across 73 countries. The dataset was acquired using the Spotify API, ensuring accurate and up-to-date information.
Here is a columns overview:
- **spotify_id**: The unique identifier for the song in the Spotify database.
- **name**: The title of the song.
- **artists**: The name(s) of the artist(s) associated with the song. 
- **daily_rank**: The daily rank of the song in the top 50 list.
- **daily_movement**: The change in rankings compared to the previous day.
- **weekly_movement**: The change in rankings compared to the previous week.
- **country**: The ISO code of the country of the Top 50 Playlist. If Null, then the playlist if 'Global Top 50'.
- **snapshot_date**: The date on which the data was collected from the Spotify API. 
- **popularity**: A measure of the song's current popularity on Spotify.
- **is_explicit**: Indicates whether the song contains explicit lyrics.
- **duration_ms**: The duration of the song in milliseconds.
- **album_name**: The title of the album the song belongs to. 
- **album_release_date**: The release date of the album the song belongs to.
- **danceability**: A measure of how suitable the song is for dancing based on various musical elements.
- **energy**: A measure of the intensity and activity level of the song.
- **key**: The key of the song.
- **loudness**: The overall loudness of the song in decibels.
- **mode**: Indicates whether the song is in a major or minor key.
- **speechiness**: A measure of the presence of spoken words in the song.
- **acousticness**: A measure of the acoustic quality of the song.
- **instrumentalness**: A measure of the likelihood that the song does not contain vocals.
- **liveness**: A measure of the presence of a live audience in the recording.
- **valence**: A measure of the musical positiveness conveyed by the song.
- **tempo**: The tempo of the song in beats per minute.
- **time_signature**: The estimated overall time signature of the song.

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

tracks = pd.read_csv('universal_top_spotify_songs.csv')
tracks.shape

(1584257, 25)

In [3]:
tracks.head()

,spotify_id,name,artists,daily_rank,daily_movement,weekly_movement,country,snapshot_date,popularity,is_explicit,...,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
0,2plbrEY59IikOBgBGLjaoe,Die With A Smile,"Lady Gaga, Bruno Mars",1,0,0,NaN,2025-01-08,100,False,...,6,-7.777,0,0.0304,0.3080,0.0000,0.122,0.535,157.969,3
1,4wJ5Qq0jBN4ajy7ouZIV1c,APT.,"ROSÉ, Bruno Mars",2,0,0,NaN,2025-01-08,89,False,...,0,-4.477,0,0.2600,0.0283,0.0000,0.355,0.939,149.027,4
2,7ne4VBA60CxGM75vw0EYad,That’s So True,Gracie Abrams,3,0,0,NaN,2025-01-08,96,True,...,1,-4.169,1,0.0368,0.2140,0.0000,0.159,0.372,108.548,4
3,6dOtVTDdiauQNBQEDOtlAB,BIRDS OF A FEATHER,Billie Eilish,4,0,0,NaN,2025-01-08,97,False,...,2,-10.171,1,0.0358,0.2000,0.0608,0.117,0.438,104.978,4
4,5TFD2bmFKGhoCRbX61nXY5,NUEVAYoL,Bad Bunny,5,1,45,NaN,2025-01-08,81,False,...,6,-20.024,1,0.1390,0.2650,0.9950,0.204,0.120,137.922,4

**2. Data Cleaning**

Let’s start by examining some basic information about the dataset. After that, we’ll proceed to handle missing data, remove duplicates, and check for any inconsistencies within the data.

In [4]:
tracks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584257 entries, 0 to 1584256
Data columns (total 25 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   spotify_id          1584257 non-null  object
 1   name                1584228 non-null  object
 2   artists             1584229 non-null  object
 3   daily_rank          1584257 non-null  int64
 4   daily_movement      1584257 non-null  int64
 5   weekly_movement     1584257 non-null  int64
 6   country             1562650 non-null  object
 7   snapshot_date       1584257 non-null  object
 8   popularity          1584257 non-null  int64
 9   is_explicit         1584257 non-null  bool
 10  duration_ms         1584257 non-null  int64
 11  album_name          1583437 non-null  object
 12  album_release_date  1583600 non-null  object
 13  danceability        1584257 non-null  float64
 14  energy              1584257 non-null  float64
 15  key                 1584257 non-null  int64
 16  loudness            1584257 non-null  float64
 17  mode                1584257 non-null  int64
 18  speechiness         1584257 non-null  float64
 19  acousticness        1584257 non-null  float64
 20  instrumentalness    1584257 non-null  float64
 21  liveness            1584257 non-null  float64
 22  valence             1584257 non-null  float64
 23  tempo               1584257 non-null  float64
 24  time_signature      1584257 non-null  int64
dtypes: bool(1), float64(9), int64(8), object(7)
memory usage: 291.6+ MB

We have reviewed the data types of the columns; now, let's examine the summary statistics for the numerical values and the count of unique values in each categorical column.

In [5]:
tracks.describe().round(2)

,daily_rank,daily_movement,weekly_movement,popularity,duration_ms,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
count,1584257.00,1584257.00,1584257.00,1584257.00,1584257.00,1584257.00,1584257.00,1584257.00,1584257.00,1584257.00,1584257.00,1584257.00,1584257.00,1584257.00,1584257.00,1584257.00,1584257.0
mean,25.49,0.95,2.88,76.25,192564.91,0.68,0.65,5.53,-6.46,0.54,0.09,0.27,0.02,0.17,0.55,122.29,3.9
std,14.43,7.07,12.19,15.67,49496.96,0.14,0.16,3.58,2.66,0.50,0.09,0.25,0.09,0.12,0.23,28.18,0.4
min,1.00,-49.00,-49.00,0.00,0.00,0.00,0.00,0.00,-54.34,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.0
25%,13.00,-1.00,-3.00,65.00,160688.00,0.59,0.55,2.00,-7.78,0.00,0.04,0.07,0.00,0.10,0.37,100.01,4.0
50%,25.00,0.00,0.00,80.00,185000.00,0.70,0.67,6.00,-5.98,1.00,0.06,0.19,0.00,0.12,0.55,119.96,4.0
75%,38.00,2.00,5.00,88.00,217259.00,0.79,0.76,9.00,-4.69,1.00,0.11,0.44,0.00,0.20,0.74,140.11,4.0
max,50.00,49.00,49.00,100.00,939666.00,0.99,1.00,11.00,3.23,1.00,0.94,1.00,1.00,0.98,0.99,236.09,5.0

In [6]:
tracks.select_dtypes(include=['object']).nunique()

spotify_id            19104
name                  16872
artists               10893
country                  72
snapshot_date           437
album_name            12745
album_release_date     2525
dtype: int64

It's time to check if there are any missing values in the dataset.

In [7]:
tracks.isnull().sum()

spotify_id                0
name                     29
artists                  28
daily_rank                0
daily_movement            0
weekly_movement           0
country               21607
snapshot_date             0
popularity                0
is_explicit               0
duration_ms               0
album_name              820
album_release_date      657
danceability              0
energy                    0
key                       0
loudness                  0
mode                      0
speechiness               0
acousticness              0
instrumentalness          0
liveness                  0
valence                   0
tempo                     0
time_signature            0
dtype: int64

Based on the dataset description, we can see that the null values in the 'country' column correspond to the "Global Top 50" chart. As a result, we will fill these null values with the value 'Global'. We will drop the rows with null values in the 'name' and 'artist' columns but will retain those with null values in the 'album_name' and 'album_release_date' columns. This is because the presence of null values in these columns still provides useful information about the song, and the album name and release date are not critical for our analysis. Null values in these columns will be ignored if necessary.

In [8]:
tracks['country'] = tracks['country'].fillna('Global')
tracks.dropna(subset=['name', 'artists'], inplace=True)
tracks.isnull().sum()

spotify_id              0
name                    0
artists                 0
daily_rank              0
daily_movement          0
weekly_movement         0
country                 0
snapshot_date           0
popularity              0
is_explicit             0
duration_ms             0
album_name            791
album_release_date    629
danceability            0
energy                  0
key                     0
loudness                0
mode                    0
speechiness             0
acousticness            0
instrumentalness        0
liveness                0
valence                 0
tempo                   0
time_signature          0
dtype: int64

Let's now see if we have any duplicated rows in the dataset.

In [9]:
duplicates = tracks[tracks.duplicated()]

print(len(duplicates))

0

We will drop the 'spotify_id' column since it doesn't give any information.

In [10]:
tracks = tracks.drop(columns="spotify_id")
tracks.columns

Index(['name', 'artists', 'daily_rank', 'daily_movement', 'weekly_movement',
       'country', 'snapshot_date', 'popularity', 'is_explicit', 'duration_ms',
       'album_name', 'album_release_date', 'danceability', 'energy', 'key',
       'loudness', 'mode', 'speechiness', 'acousticness', 'instrumentalness',
       'liveness', 'valence', 'tempo', 'time_signature'],
      dtype='object')

**3. Data Transformation**

We will make several transformations to our dataset. First, we will add a new column, 'continent,' to group countries by their respective continents, enabling us to extract insights and identify trends at the continental level later. Additionally, we will convert the 'country' column from its ISO-2 code format to the full country name to improve readability and enhance visualization.

In [11]:
import pycountry_convert as pc

def get_continent(code):
    if code == 'Global':
        return 'Global'
    try:
        continent_code = pc.country_alpha2_to_continent_code(code)
        continent_name_map = {
            'AF': 'Africa',
            'AS': 'Asia',
            'EU': 'Europe',
            'NA': 'North America',
            'SA': 'South America',
            'OC': 'Oceania',
            'AN': 'Antarctica'
        }
        return continent_name_map[continent_code]
    except Exception:
        print(f"Invalid code {code}")

tracks['continent'] = tracks['country'].apply(get_continent)

tracks['continent'].unique()

array(['Global', 'Africa', 'Asia', 'South America', 'North America',
       'Europe', 'Oceania'], dtype=object)

In [12]:
import pycountry as pc

def iso_to_country_name(code):
    if code == 'Global':
        return 'Global'
    try:
        return pc.countries.get(alpha_2=code).name
    except AttributeError:
        print(f"Invalid code {code}")

tracks['country'] = tracks['country'].apply(iso_to_country_name)
tracks['country'].unique()

array(['Global', 'South Africa', 'Viet Nam',
       'Venezuela, Bolivarian Republic of', 'Uruguay', 'United States',
       'Ukraine', 'Taiwan, Province of China', 'Türkiye', 'Thailand',
       'El Salvador', 'Slovakia', 'Singapore', 'Sweden', 'Saudi Arabia',
       'Romania', 'Paraguay', 'Portugal', 'Poland', 'Pakistan',
       'Philippines', 'Peru', 'Panama', 'New Zealand', 'Norway',
       'Netherlands', 'Nicaragua', 'Nigeria', 'Malaysia', 'Mexico',
       'Morocco', 'Latvia', 'Luxembourg', 'Lithuania', 'Kazakhstan',
       'Korea, Republic of', 'Japan', 'Italy', 'Iceland', 'India',
       'Israel', 'Ireland', 'Indonesia', 'Hungary', 'Honduras',
       'Hong Kong', 'Guatemala', 'Greece', 'France', 'Finland', 'Spain',
       'Egypt', 'Estonia', 'Ecuador', 'Dominican Republic', 'Denmark',
       'Germany', 'Czechia', 'Costa Rica', 'Colombia', 'Chile',
       'Switzerland', 'Canada', 'Belarus', 'Brazil',
       'Bolivia, Plurinational State of', 'Bulgaria', 'Belgium',
       'Australia', 'Austria', 'Argentina', 'United Arab Emirates',
       'United Kingdom'], dtype=object)

Next, let's analyze the 'artists' column, as it may include multiple artists separated by commas.

In [13]:
artists = tracks['artists'].str.split(', ', expand=True)
artists.nunique()

0     6383
1     3958
2     1698
3      653
4      299
5      157
6       72
7       33
8       25
9       15
10      11
11       6
12       3
13       2
14       2
15       2
16       2
17       2
18       2
19       2
20       1
21       1
22       1
23       1
24       1
25       1
dtype: int64

We observe that some songs have up to 26 artists, which seems unusual. To manage the dataset size and avoid excessive null values in the artists' columns, we will limit the number of artists per song to a maximum of 4. The first column will represent the main artist, while the remaining three will be considered featured artists.

In [14]:
artists.drop(artists.iloc[:, 4:26 ], axis=1, inplace=True)

artists_column_map = {
    0: 'main_artist',
    1: 'feature_1',
    2: 'feature_2',
    3: 'feature_3'
}

artists.rename(columns=artists_column_map, inplace=True)
tracks = pd.concat([artists, tracks], axis=1)
tracks.drop(['artists'], axis=1, inplace= True)
tracks.columns

Index(['main_artist', 'feature_1', 'feature_2', 'feature_3', 'name',
       'daily_rank', 'daily_movement', 'weekly_movement', 'country',
       'snapshot_date', 'popularity', 'is_explicit', 'duration_ms',
       'album_name', 'album_release_date', 'danceability', 'energy', 'key',
       'loudness', 'mode', 'speechiness', 'acousticness', 'instrumentalness',
       'liveness', 'valence', 'tempo', 'time_signature', 'continent'],
      dtype='object')

Let's also convert the snapshot_date and the album_release_date to datetime format so it can be usable.

In [28]:
tracks['snapshot_date'] = pd.to_datetime(tracks['snapshot_date'])
tracks['album_release_date'] = pd.to_datetime(tracks['album_release_date'])
tracks.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1584228 entries, 0 to 1584256
Data columns (total 28 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   main_artist         1584228 non-null  object
 1   feature_1           637439 non-null   object
 2   feature_2           192036 non-null   object
 3   feature_3           59853 non-null    object
 4   name                1584228 non-null  object
 5   daily_rank          1584228 non-null  int64
 6   daily_movement      1584228 non-null  int64
 7   weekly_movement     1584228 non-null  int64
 8   country             1584228 non-null  object
 9   snapshot_date       1584228 non-null  datetime64[ns]
 10  popularity          1584228 non-null  int64
 11  is_explicit         1584228 non-null  bool
 12  duration_ms         1584228 non-null  int64
 13  album_name          1583437 non-null  object
 14  album_release_date  1583599 non-null  datetime64[ns]
 15  danceability        1584228 non-null  float64
 16  energy              1584228 non-null  float64
 17  key                 1584228 non-null  int64
 18  loudness            1584228 non-null  float64
 19  mode                1584228 non-null  int64
 20  speechiness         1584228 non-null  float64
 21  acousticness        1584228 non-null  float64
 22  instrumentalness    1584228 non-null  float64
 23  liveness            1584228 non-null  float64
 24  valence             1584228 non-null  float64
 25  tempo               1584228 non-null  float64
 26  time_signature      1584228 non-null  int64
 27  continent           1584228 non-null  object
dtypes: bool(1), datetime64[ns](2), float64(9), int64(8), object(8)
memory usage: 339.9+ MB

**4. Data Aggregation**

*under construction*

In [22]:
artist_data = tracks.melt(
    id_vars=['name', 'popularity', 'danceability', 'energy', 'loudness'], 
    value_vars=['main_artist', 'feature_1', 'feature_2', 'feature_3'], 
    value_name='artist'
)
artist_data = artist_data.dropna(subset=['artist'])

artist_agg = artist_data.groupby('artist').agg(
    unique_song_count=('name', 'nunique'),
    avg_danceability=('danceability', 'mean'),
    avg_energy=('energy', 'mean'),
    avg_loudness=('loudness', 'mean')
).reset_index()

print(artist_agg)

                 artist  unique_song_count  avg_danceability  avg_energy  \
0     #nācgavilēt koris                  1          0.511000    0.606000
1      $$Double-Dolla$$                  2          0.778500    0.620000
2             $OHO BANI                  3          0.692031    0.643667
3            $ONO$ CLIQ                  1          0.902000    0.904000
4                $hirak                  6          0.859363    0.643901
...                 ...                ...               ...         ...
9901              音田 雅則                  1          0.812000    0.640000
9902                颜人中                  2          0.684197    0.534745
9903            高爾宣 OSN                  3          0.638392    0.677303
9904                다레기                  2          0.832000    0.683500
9905              뷰티풀너드                  1          0.868000    0.823000

      avg_loudness
0        -5.467000
1        -9.711500
2        -6.704335
3        -4.607000
4        -7.876890
...            ...
9901     -8.034000
9902     -7.539307
9903     -4.929789
9904     -7.915000
9905     -4.037000

[9906 rows x 5 columns]

**5. Exploratory Data Analysis (EDA)**